/* ==========================================
   FAQ
========================================== */

.faq{

    padding:100px 0;

    background:#fff;

}

.faq-container{

    max-width:850px;

    margin:50px auto 0;

}

.faq-item{

    border:1px solid var(--border);

    border-radius:16px;

    margin-bottom:18px;

    overflow:hidden;

    background:white;

    box-shadow:var(--shadow-sm);

}

.faq-question{

    width:100%;

    padding:22px 28px;

    border:none;

    background:none;

    display:flex;

    justify-content:space-between;

    align-items:center;

    cursor:pointer;

    font-size:1rem;

    font-weight:600;

    text-align:left;

}

.faq-question:hover{

    background:#f8fafc;

}

.faq-icon{

    font-size:24px;

    color:var(--primary);

    transition:transform .3s ease;

}

.faq-answer{

    max-height:0;

    overflow:hidden;

    transition:max-height .35s ease;

}

.faq-answer p{

    padding:0 28px 24px;

    color:var(--text-light);

    line-height:1.8;

}

.faq-item.active .faq-answer{

    max-height:250px;

}

.faq-item.active .faq-icon{

    transform:rotate(45deg);

}
